{% extends "base2.html" %}
<title>{% block title%}FluencyPredictor{% endblock %}</title>
</head>
{% block content%}
          <br><br>
          <div class="container" >
            <div class="row d_flex">
               <div class="col-md-4">
                  <div class="text-bg">
                     <h1>How <br>"Good"<br>
                        IS <br> YOUR<br>
                        ENGLISH?<br>
                        <span class="black" style="font-size: 20px;"><i>Do you <b>really</b> want to know?</i></span>
                     </h1>
                     <a href='/record1'>Click Here To Find Out</a>
                  </div>
               </div>
               <div class="col-md-8">
                  <div class="text-img">
                     <figure><img src="static/clean.png" alt="#"/></figure>
                  </div>
                  <div class="text-img1">
                     <figure><img src="static/clean2.png" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
         <br>
         <br>
         <!--
        <div><p style="font-size:20px">Answer the following three questions by recording your voice, and your results will be ready in less than 2 minutes!<br> Click the "Next" button to see!
          
          </p></div>
          <br>
          <div>
          <button onclick="location.href='/record1'" type="button" style="background-color: mediumvioletred; color:white;height:50px;width:200px;">Next!</button></div>
          <br><br><br><br>
          <button onclick="location.href='/results'" type="button" style="background-color: mediumvioletred; color:white;height:50px;width:200px;">Skip to Results</button></div>
        -->
        <!-- we_do -->
      <div id="we_do"  class="we_do" style="background-color: black;">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>What we do?</h2>
                     <span style='background-color:rgb(217,1,102);'></span>
                     <strong style='background-color:rgb(217,1,102);'></strong> 
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div class="we_do_box">
                     <i><img src="static/plan1.png" alt="#"/></i>
                     <h4>Spontaneous Speech to Text Analyzer</h4>
                     <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="we_do_box">
                     <i><img src="static/plan2.png" alt="#"/></i>
                     <h4>Lexical and Grammatical Analysis</h4>
                     <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="we_do_box">
                     <i><img src="static/plan3.png" alt="#"/></i>
                     <h4>A Beautiful Report!</h4>
                     <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- asked -->
      <div class="asked">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>How It Works</h2>
                     <span></span>
                     <strong></strong>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="some">
                     <h3>Where can I get some?</h3>
                     <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed </p>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="some">
                     <h3>How to do clean office</h3>
                     <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed </p></div>
                    <a class=" read_more" href="#"><b>Read More</b></a>
                  </div>
               </div>
            
         </div>
      </div>
      
      
      <!-- end asked -->
{% endblock %}